@using HandMadeStore.Model.Models.ViewModel

@model ProductVM
@{
    ViewData["Title"] = "Update";
}

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="Product.Id" hidden />
    <input asp-for="Product.ImageUrl" hidden />

    <div class="row">
        <div class="@(Model.Product.Id != 0?"col-md-10":"col-md-12")">
            <h2 class="text-primary">@(Model.Product.Id != 0 ? "Update":"Create") Product</h2>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Product.Name"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Product.Description"></label>
                <textarea asp-for="Product.Description" rows="3" class="form-control"></textarea>
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
        </div>
        @if (Model.Product.Id != 0)
        {
            <div class="col-md-2">
                <img src="@Model.Product.ImageUrl" class="img-thumbnail" />
            </div>
        }
    </div>
    <div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label asp-for="Product.Price"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>

            <div class="mb-3 col-md-4">
                <label asp-for="Product.Price10Plus"></label>
                <input asp-for="Product.Price10Plus" class="form-control" />
                <span asp-validation-for="Product.Price10Plus" class="text-danger"></span>
            </div>

            <div class="mb-3 col-md-4">
                <label asp-for="Product.Price30Plus"></label>
                <input asp-for="Product.Price30Plus" class="form-control" />
                <span asp-validation-for="Product.Price30Plus" class="text-danger"></span>
            </div>

        </div>
        <div class="row">

            <div class="mb-3 col-md-12">
                <label asp-for="Product.ImageUrl"></label>
                <input id="uploadFile" type="file" name="file" asp-for="Product.ImageUrl" class="form-control" />
            </div>


            <div class="mb-3 col-md-4">
                <label asp-for="Product.CategoryId"></label>
                <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-control">
                    <option disabled selected>--Select Category</option>
                </select>
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-4">
                <label asp-for="Product.BrandId"></label>
                <select asp-for="Product.BrandId" asp-items="@Model.BrandList" class="form-control">
                    <option disabled selected>--Select Brand</option>
                </select>
                <span asp-validation-for="Product.BrandId" class="text-danger"></span>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            @if (Model.Product.Id != 0)
            {
                <button type="submit" class="btn btn-primary w-50 me-1"><i class="bi bi-pencil-square"></i> Update</button>
            }
            else
            {
                <button type="submit" onclick="valiateInput()" class="btn btn-primary w-50 me-1"><i class="bi bi-plus-square"></i> Create</button>
            }
            <a asp-action="Index" class="btn btn-secondary w-50">
                <i class="bi bi-arrow-left-square"></i>Back to List
            </a>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>

        valiateInput = function () {
            if ($("#uploadFile").val() == "") {
                Swal.fire(
                    'The Internet?',
                    'That thing is still around?',
                    'question'
                )
            }
        }
    </script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
           
        });
    </script>
}

